// FUNCTIONAL COLORS
$blue: #1966ff;
$green: #17e387;
$red: #ff3448;
$yellow: #ffBC42;
$cyan: #0de3ff;
$purple: #6a3dff;
$orange: #ff6040;

// NEUTRALS COLORS
$white: white;
$fog: #f4f5f6;
$platinum: #f5f5f6;
$silver: #e7e8eb;
$cement: #d8dadf;
$dust: #aaacb7;
$smog: #818391;
$ash: #616371;
$charcoal: #454555;
$graphite: #3b3b4b;
$slate: #2d2d3b;
$ink: #1e1e2c;
$void: #000014;
